<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.instabug.phonegap.ios"
    version="0.0.1">
    
    <name>Instabug iOS SDK</name>
    
    <description>Cordova Device Plugin</description>
    
    <keywords>instabug,in-app feedback</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <platform name="ios">
        
        <!-- iOS development frameworks needed by instabug framework -->
        <framework src="QuartzCore.framework" />
        <framework src="UIKit.framework" />
        <framework src="MessageUI.framework" />
        <framework src="GLKit.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="libc++.dylib" />
        <framework src="AudioToolbox.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Foundation.framework" />
        
        <!-- instabug framework -->
        <resource-file src="Instabug.bundle" />
        <framework src="Instabug.framework" custom="true" />
        
    </platform>

</plugin>
